@model Repo.Models.Advertisement

@{
    ViewBag.Title = "Usuwanie";
}

<h2>Usuwanie</h2>
@if (ViewBag.Error == true)
{
    <div class="alert alert-danger" role="alert">
        Wystąpił błąd podczas usuwania !
        Odśwież stronę i spróbuj ponownie.
    </div>
}
<h3>Czy na pewno chcesz usunąć ogłoszenie ?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input id="buttonDeleteInDetails" type="submit" value="Usuń" class="btn btn-default confirmation-alert" />
            @Html.ActionLink("Powrót", "Index", null, new { @class = "btn btn-warning" })
        </div>
    }
</div>
@section Scripts{
    <script type="text/javascript">
        $('.confirmation-alert').on('click', function () {
            return confirm('Czy na pewno chcesz usunąć ?');
        });
    </script>
}