@using PagedList.Mvc;
@using Microsoft.AspNet.Identity;

@model PagedList.IPagedList<Repo.Models.Advertisement>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Moje ogłoszenia";
}

<h2>Lista moich ogłoszeń</h2>
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Dodaj ogłoszenie", "Create", null, new { @class = "btn btn-success" })
}

@*@using (Html.BeginForm())
{
    <p>
        Wyszukaj: @Html.TextBox("SearchString")
        <input type="submit" value="Wyszukaj" />
    </p>
}*@

<table class="table">
    <tr>
        <th>
            Zdjęcie
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Description)
        </th>
        <th>
            @Html.ActionLink("Data dodania", "Index", new { sortOrder = ViewBag.DateSort })
        </th>
        <th>
            @Html.ActionLink("Cena", "Index", new { sortOrder = ViewBag.PriceSort })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@ViewBag.ThumbImgAdv" width="200" height="200" />
                @*@Html.DisplayFor(modelItem => item.AdvertisementImage)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <div id="buttonGroupInAdvList" class="btn-group">
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || (User.IsInRole("Moderator"))))
                    {
                        @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                        if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                        }
                    }

                    @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                </div>
            </td>
        </tr>
    }

</table>
<div>
    <br />
    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("MyAdvertisements", new { page, sortOrder = ViewBag.CurrentSort }))
</div>